<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">
    <a href="">
      <%= image_tag "logo.png" %>
    </a>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr>
    <hr>
    <%= link_to t(".top_call_to_action", default: "New cocktail!"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</nav>
