<div class="banner text-center" style="background-image: url('http://www.seriouseats.com/images/2015/03/20150323-cocktails-vicky-wasik-cosmopolitan.jpg')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>Lots of Cocktails!</h1>
    <p>Cock and Tail form an awkward word!</p>
    <%= link_to "Create a Cocktail!", new_cocktail_path(@cocktail), class:"btn btn-primary" %>
  </div>
</div>
